<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ToDo</title>
        <script type="text/javascript" src="js/vue1.js"></script>
        <link rel="stylesheet" href="css/semantic.css"  media="screen" title="no title" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
        <style type="text/css">
            body {
            background-color: #FDFDFD;
            }
            .ui.very.padded.segment.container {
            width: 500px;
            position: relative;
            transform: translate(0,-50%);
            top:30%;
            }
            .remove.icon {
            color: #EAEBEB;
            }
            .ui.very.padded.container {
            width: 500px;
            }
        </style>
    </head>
    <body id="app">
        <div class="ui very padded container">
            <div class="ui text menu">
                <div class="header item" style="font-size:20px;">
                    <i class="checkmark box icon"></i>
                    麻瓜 To Do
                </div>
            </div>
            <div class="ui divider">
        </div>


        </div>
        <div class="ui very padded segment container">
            <div class="ui action fluid input">
                <input v-model="newvalue" type="text" placeholder="添加新任务">
                <button class="ui icon basic button" v-on:click="addvalue(newvalue)">
                    <i class="plus icon" style="color:#666666"></i>
                </button>
            </div>

            <div v-for="(index, valuelist) in values" class="ui relaxed divided list">
                <div class="item">
                    <div class="left floated content">
                        <input type="checkbox" v-on:click="valuelist.done = !valuelist.done">
                    </div>
                    <div class="right floated content" v-on:click="deletvalue(index)">
                        <a><i class="remove icon"></i></a>
                    </div>
                    <p  v-if="valuelist.done" style="font-size:14px;">{{ valuelist.name }} </p>
                    <p v-else style="font-size:14px;"><s>{{ valuelist.name }}</s></p>
                </div>
            </div>
        </div>

    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                values:[],
            },
            methods:{
                addvalue:function(newvalue){
                    if (newvalue == ""){
                        alert("别闹！写点东西~");
                    }
                    else {
                        this.values.push({name:newvalue,done:true});
                    }

                },

                deletvalue:function(index){
                    this.values.splice(index,1);
                }
            }
        })
    </script>
    </body>
</html>
